@import './abstracts/colors-theme-primary.scss';
@import './abstracts/layout';
@import './abstracts/paddings';
@import './abstracts/typography';

body {
  background-color: $color-white;
  margin: 0;
  padding: 0;
}
